html, body {
	overflow:hidden;
}

#whiteboard {
    width: 80%;
    height: 100vh;
}

#sidebar {
	box-sizing: border-box;
	float:left;
	width: 19.75%;
	height: 100vh;
	border: 3px solid #BBBBBB;
	padding: 20px;
}